.badge-cont {

    text-align: center;
    margin-bottom: 30px;

    .badge {
        display: inline-block;
        margin: 4px 2px;
        padding: 2px 6px;
        font-size: .8em;
        border-radius: .5em;

        a {
            color: white;
            text-decoration: none;
        }
    }

    .blog {background-color: blue;}
    .meditation {background-color: teal;}
    .yoga {background-color: orange;}
    .failio {background-color: purple;}
    .sleep {background-color: lightblue;}
    .call {background-color: green;}
}
