.badge-cont {
    margin-bottom: 30px;
    text-align: center;

    .badge {
        margin: 4px 2px;
        padding: 4px 6px;
        background-color: blue;
        border-radius: .5em;
        font-size: .8em;
        span { color: white; font-size: 1em; }
        a { text-decoration: none; }
    }

    .blog {background-color: blue;}
    .meditation {background-color: teal;}
    .yoga {background-color: orange;}
    .failio {background-color: purple;}
    .sleep {background-color: lightblue;}
    .call {background-color: green;}
}
